<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webinar</title>
</head>
<body>
    <video id="videoStream" width="700" height="500" autoplay></video>
    <a href="/view">Viewer</a>
    <button type="submit" id="btnStart">Start display stream</button>
</body>
    <script src="main.js"></script>
</html>