<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
</head>
<body>
    asdaasd
    <video id="viewer" autoplay controls loop
		style="width: 700; height: 500; margin: auto">
		<source src="" type="video/webm">
	</video>
</body>
	<script src="main.js"></script>
</html>